





/* .button-portfolio {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  border: none; */












/* CLIENTS !!!!! */




/* SOCIAL LIST !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



/* Для футера icons---------------------------------- */



/* ------------------------------------------------ */



/* ============================================== */

.footer-subscribe {
  /* width: calc((100% - 30px * 2) / 3); */
}

.footer-subscribe-form {

}




/* PORTFOLIO -------------------- */


/* .produkt-thumb::after {
  
} */






/* Модальне вікно ----------------------*/
