body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: $gray-color;
  background: $background-body;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  // outline: 2px solid red;

  @include for-size(tablet-portrait) {
    width: 480px;
    // outline: 2px solid yellow;
  }

  @include for-size(tablet-landscape) {
    width: 768px;
    // outline: 2px solid green;
  }

  @include for-size(desktop) {
    width: 1200px;
    // outline: 2px solid violet;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
    margin-right: auto;

}

.unmark {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flexbox {

  @include for-size(tablet-landscape) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }
  
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;  
  }
}
