  $accent-color: #2196f3; /* акцентуючий колір для hover / logo */
  $background-footer: #2f303a; /* колір фону в футері */
  $background-team-box: #f5f4fa; /* колір фону "Наша команда" */
  $background-body: #ffffff; /* колір фону сторінки */
  $white-color: #ffffff; /* світлі надписи текстом */
  $black-color: #212121; /* чорний текст */
  $gray-color: #757575; /* сірий текст */
  $footer-link-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* прозорий колір лінків футера */
  $icon-social-main-color: #afb1b8;
  $transition-duration: 250ms;
  $background-color-main:  #ffffff
