.section-futures {
  padding-top: 94px;
  padding-bottom: 0;
}

.h2-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: $black-color;
}

.h3-title-features {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.143;
  text-transform: uppercase;
  color: $black-color;
}

.p-title-features {
  margin-top: 0;
  margin-bottom: 0;
}

.futures-list {

  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
  }

  @include for-size(desktop) {
    display: flex;
    flex-wrap: nowrap;
  }
 
}

.futures-item {

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
      }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0px;
    }

  }

  
  @include for-size(desktop) {
    width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  margin-bottom: 0;
  }
}



.futures-icon {
  height: 120px;
  background-color: $background-team-box;
  text-align: center;
  padding: 25px;

  @include for-size(tablet-landscape) {
    padding: 25px 100px;
  }

  @include for-size(desktop) {
    padding: 25px 100px;
  }

}
