.header-hide {
  display: none;
  
  @include for-size(tablet-landscape) {
    display: flex;  
  }
}

.page-header {
  padding: 25px 0;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $gray-color;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mail-link-header {
  margin-right: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0px;
  }


}

.icon-header {
  align-items: flex-end;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts {
  display: flex;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }
}