.h2-portfolio {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2x;
  letter-spacing: 0.06em;
  color: $black-color;
}

.p-portfolio-short {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.875;
  color: $gray-color;
}

.p-portfolio-long {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: $white-color;
  margin: 0;
  letter-spacing: 0.03em;
  /* display: none;  Приховані параграфи  */
  background-color: rgba(33, 150, 243, 0.9);

  padding: 77px 24px;

  @include for-size(tablet-landscape) {
    padding: 49px 24px;
  }
  
  @include for-size(desktop) {
    padding: 65px 24px;
  }






}

.portfolio-link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
  }
}

.produkt-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list-work {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item-work {

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
    margin-right: 0;
    }

    &:nth-last-child(-n + 1) {
      margin-bottom: 0;
    }    
    
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
    margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }    
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-descript {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    justify-content: start;
  }
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}
