.h3-title-team {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: $black-color;
}

.team-box {
  background: $background-team-box;
  @include for-size(desktop) {
    margin-top: 60px;
  }
  
}

.p-title-team {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}

.team-list {

  @include for-size(tablet-landscape) {
    display: flex;
  flex-wrap: wrap;
  }

  // display: flex;
  // flex-wrap: wrap;
}

.team-item {

  margin-bottom: 30px;

  width: 100%;
    margin-right: 30px;
    padding-bottom: 24px;
    background-color: $background-body;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;




  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    // margin-right: 30px;
    // padding-bottom: 24px;
    // background-color: $background-body;
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    //   0px 2px 1px rgba(0, 0, 0, 0.2);
    // border-radius: 0px 0px 4px 4px;
  
    &:nth-child(2n) {
      margin-right: 0;
    } 

    &:nth-last-child(-n+2) {
      margin-bottom: 60px;
    }
  }




  @include for-size(desktop) {  
  width: calc((100% - 30px * 3) / 4);
  // margin-right: 30px;
  // padding-bottom: 24px;
  // background-color: $background-body;
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 2px 1px rgba(0, 0, 0, 0.2);
  // border-radius: 0px 0px 4px 4px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}
}
